@tailwind base;
@tailwind components;
@tailwind utilities;



.filter-drawer {
    position: fixed;
    bottom: -300px; /* initially off-screen */
    left: 0;
    background-color: white;
    transition: bottom 0.3s ease-in-out;
  }
  
  .filter-drawer.open {
    bottom: 0;
  }